@import url("https://fonts.cdnfonts.com/css/iranian-sans");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Iranian Sans", sans-serif;
}

body {
  background-color: #fcfcfc;
}

.active-link svg {
  fill: #ff0072;
}

svg {
  fill: #000;
}
